<%- include('templates/header', {active : 'animal'}) %>

<main>
  <div class="container">
    <div class="section-heading">
      <div class="py-5">
        <h3 class="text-center text-secondary heading">Animals</h3>
      </div>
    </div>

    <div class="animals-wrap">
      <div class="row">
        <% if(animals) { animals.forEach(animal => { %>
        <div class="col-lg-4 col-md-6 mb-4">
          <div class="card">
            <div class="card-body">
              <div class="animal-img mb-2">
                <div class="img">
                  <img
                    src="../images/post/<%= animal.cover_image %>"
                    alt=""
                    class="img-fluid"
                  />
                </div>
                <h2 class="animal-name text-right">
                  <span><%= animal.name %></span>
                </h2>
              </div>
              <div class="animal-info">
                <p class="animal-cat"><%= animal.category %> Animal</p>

                <% if(animal.details) { %>
                <div class="details">
                  <p>
                    <%= animal.details.split(' ').slice(0, 10).join(' ') %>...
                  </p>
                </div>
                <% } %>

                <div class="row">
                  <div class="col-6 text-center mb-2">Max-Age</div>
                  <div class="col-6 text-center mb-2">
                    <%= animal.max_age %> <%= animal.max_age_unit %>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6 text-center mb-2">Max-Weight</div>
                  <div class="col-6 text-center mb-2">
                    <%= animal.max_weight %> <%= animal.max_weight_unit %>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer text-center">
              <a
                href="/animals/<%= animal._id %>"
                class="btn btn-block btn-success detail-btn"
                >Details</a
              >
            </div>
          </div>
        </div>
        <% }) } %>
      </div>
    </div>

    <% if(count > 0) { %>
    <div class="pagination-wrap pt-5 pb-3">
      <nav>
        <ul class="pagination justify-content-center">
          <% if(p > 1) { %>
          <li class="page-item">
            <a href="/animals?page=<%= p -1 %>&limit=<%= l %>" class="page-link"
              >&laquo</a
            >
          </li>
          <% } %> <% let limit = 12; let page = Math.ceil(count / limit);
          for(let i=1; i <= page; i++) { %>
          <li class="page-item <% if(i === p) {%> active <% } %>">
            <a
              href="/animals?page=<%= i %>&limit=<%= limit %>"
              class="page-link"
              ><%= i %></a
            >
          </li>
          <%}%> <% if(p < page) { %>
          <li class="page-item">
            <a
              href="/animals?page=<%= p + 1 %>&limit=<%= l %>"
              class="page-link"
              >&raquo</a
            >
          </li>
          <% } %>
        </ul>
      </nav>
    </div>
    <% } %>
  </div>
</main>
<!-- Main Section End -->

<%- include('templates/footer') %>
